/* body frame*/
#container {
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    width: 80vw;
    height: 100wh;
    border-style: dashed;
    margin: 3em;
    padding: 1em 1em 1em 1em;

}

.rectangle {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    border-style: solid;
    width: 75vw;
    height: 25vh;
    padding: 1em;
    margin: 1em;
    background: #ffefeb;

}

.in_long_rec {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    border-style: solid;
    width: 74vw;
    height: 24vh;
    background-color: #ccc0bc;


}



.in_med_rec {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    border-style: solid;
    width: 49vw;
    height: 24;
    background-color: #ccc0bc;

}


.in_small_rec {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    /*flex-basis: 1em;*/
    border-style: solid;
    width: 22vw;
    height: 24vh;

    background-color: #ccc0bc;


}

