div {
  margin: 1cm 3cm 1cm 3cm;
}

body {
  background-color: magenta;

}

p {
  font-size: 150%;
  background-color: MediumSeaGreen;

}

ul {
  font-size: 150%;
  color: OrangeRed;
  background-color: Chartreuse;

  button {


  }




}